<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a href="#" class="navbar-brand">Receipe Book</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" area-controls="navbarNav" aread-expanded="false" area-label="Toggle Navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a href="#" class="nav-link"  routerLinkActive="active" routerLink="/recipes">Recipes</a>
                </li>
                <li class="navbar-item">
                    <a href="#" class="nav-link"  routerLinkActive="active" routerLink="/shopping-list">Shopping List</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" role="button" id="dropdownMenu" data-bs-toggle="dropdown" aria-expanded="false">Manage</a>
            
                        <ul class="dropdown-menu" area-labelledby="dropdownMenu">
                            <li>
                                <a href="#" class="dropdown-item">To Shopping List</a>
                            </li>
                            <li>
                                <a href="#" class="dropdown-item">Edit Recipe</a>
                            </li>
                            <li>
                                <a href="#" class="dropdown-item">Delete Recipe</a>
                            </li>
                        </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>