<div class="row mt-2">
    <div class="col-xs-12">
        <a class="list-group-item list-group-item-action clearfix p-2" 
        [routerLink]="['/recipes', id, 'details']">
            <div class="float-start">
                <div class="fw-bold">{{ recipe.name }}</div>
                <small class="text-muted">{{ recipe.description }}</small>
            </div>
            <div class="float-end">
                <img [src]="recipe.imagePath" [alt]="recipe.name" class="img-responsive" style="max-width: 70px;">
            </div>
        </a>
    </div>
</div>
