<div class="row">
    <div class="col-xs-12">
        <h2>{{ selectedRecipe?.name }}</h2>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="dropdown">
            <a appDropdown href="#" class="btn btn-primary dropdown-toggle" role="button" id="dropdownMenu"  aria-expanded="false">Manage</a>

            <ul class="dropdown-menu" area-labelledby="dropdownMenu">
                <li>
                    <a href="#" class="dropdown-item">To Shopping List</a>
                </li>
                <li>
                    <a href="#" class="dropdown-item">Edit Recipe</a>
                </li>
                <li>
                    <a href="#" class="dropdown-item">Delete Recipe</a>
                </li>
            </ul>
            <p class="mt-3">{{ selectedRecipe?.description }}</p>
            <div class="mt-3">
                <img class="img-fluid" [src]="selectedRecipe?.imagePath" alt="{{ selectedRecipe?.name }}">
            </div>
        </div>
    </div>
</div>

