<div class="row">
    <div class="col-sm-12">
        <form>
            <div class="row">
                <div class="col-sm-5 form-group">
                    <label class="fw-bold" for="ingredient">Ingredient</label>
                    <input type="text" id="ingredient" class="form-control">
                </div>
                <div class="col-sm-2 form-group">
                    <label class="fw-bold" for="amount">Amount</label>
                    <input type="number" id="amount" class="form-control">
                </div>
                <div class="row mt-1">
                    <div class="col-xs-12">
                        <button class="btn btn-success">Add</button>
                        <button class="btn btn-danger m-2">Delete</button>
                        <button class="btn btn-primary">Clear</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>