<div class="row">
    <div class="col-sm-12">
        <form (ngSubmit)="onAdd()" #f="ngForm">
            <div class="row">
                <div class="col-sm-5 form-group">
                    <label class="fw-bold" for="ingredient">Ingredient</label>
                    <input 
                    type="text" 
                    id="ingredient" 
                    class="form-control" 
                    name="ingredient" 
                    ngModel
                    required
                    #ingredient = "ngModel"
                    [ngClass]="{'is-invalid': !ingredient.valid && ingredient.touched}">
                    <div class="invalid-feedback">
                        Ingredient Name is Required
                    </div>
                </div>
                <div class="col-sm-2 form-group">
                    <label class="fw-bold" for="amount">Amount</label>
                    <input 
                    type="number"
                    id="amount" 
                    class="form-control" 
                    name="amount" 
                    ngModel
                    required
                    #amount = "ngModel"
                    [ngClass]="{'is-invalid': !amount.valid && amount.touched}">
                    <div class="invalid-feedback">
                        Amount is Required
                    </div>
                </div>
                <div class="row mt-1">
                    <div class="col-xs-12">
                        <button type="submit" class="btn btn-success" [disabled]="!f.valid">
                           {{ editMode ? 'Update': 'Add'}} 
                        </button>
                        <button type="button" class="btn btn-danger m-2" (click)="onDelete()">Delete</button>
                        <button type="button" class="btn btn-primary" (click)="onClear()">Clear</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>